<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:C:\\Users\\Iowa\\Desktop\\Robert\\University\\Facultate notite\\ISS\\3 Laboratoare\\TemaProiect\\database\\database.db</property>

        <mapping class="Employee"/>
    </session-factory>
</hibernate-configuration>